<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcds.or.tcdsapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NewsDetailsActivity"
            android:label="Details"
            android:parentActivityName=".mainapp.NewsActivity"></activity>
        <activity
            android:name=".mainapp.BrowserActivity"
            android:label="eBooks Service"
            android:parentActivityName=".MainOnlineShopActivity" />
        <activity android:name=".ThankYouActivity" />
        <activity
            android:name=".OrderDetailActivity"
            android:label="Details" />
        <activity
            android:name=".MyOrdersActivity"
            android:label="My Orders" />
        <activity android:name=".PlaceOrderActivity" />
        <activity
            android:name=".CartActivity"
            android:label="My Cart" />
        <activity
            android:name=".BookDetailsActivity"
            android:label="Book Details"
            android:parentActivityName=".MainOnlineShopActivity" />
        <activity
            android:name=".MainOnlineShopActivity"
            android:label="Online Shop"
            android:parentActivityName=".mainapp.MainActivity" />
        <activity
            android:name=".mainapp.PhoneVerificationActivity"
            android:theme="@style/MyAppTheme" />
        <activity android:name=".mainapp.RegistrationActivity" />
        <activity
            android:name=".mainapp.OccupationalPathwaysActivity"
            android:label="Occupational Pathways"
            android:parentActivityName=".mainapp.MainActivity" />
        <activity
            android:name=".mainapp.EconomicSectorsActivity"
            android:label="Economic Sectors"
            android:parentActivityName=".mainapp.MainActivity" />
        <activity
            android:name=".mainapp.UnderGraduateDetailsActivity"
            android:label="Programme Details"
            android:parentActivityName=".UndergraduateProgrammeActivity" />
        <activity
            android:name=".UndergraduateProgrammeActivity"
            android:label="Undergraduate  Programmes"
            android:parentActivityName=".mainapp.MainActivity" />
        <activity
            android:name=".mainapp.TCDSServicesActivity"
            android:label="TCDS Services"
            android:parentActivityName=".mainapp.MainActivity" />
        <activity
            android:name=".mainapp.LearningInstDetailsActivity"
            android:label="Details"
            android:parentActivityName=".mainapp.HighLearningInstitutionActivity" />
        <activity
            android:name=".mainapp.HighLearningInstitutionActivity"
            android:label="High Learning Institutions"
            android:parentActivityName=".mainapp.MainActivity" />
        <activity
            android:name=".mainapp.TermsAndConditionsActivity"
            android:label="Usage Terms"
            android:parentActivityName=".mainapp.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainapp.PrivacyPolicyActivity"
            android:label="Privacy Policy"
            android:parentActivityName=".mainapp.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainapp.FeedbackActivity"
            android:label="Feedback"
            android:parentActivityName=".mainapp.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainapp.HelpActivity"
            android:label="Help"
            android:parentActivityName=".mainapp.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainapp.AboutActivity"
            android:label="About"
            android:parentActivityName=".mainapp.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainapp.NewsActivity"
            android:label="News &amp; Alerts"
            android:parentActivityName=".mainapp.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainapp.CoachingActivity"
            android:label="Online Training"
            android:parentActivityName=".mainapp.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainapp.ConnectActivity"
            android:label="Connect"
            android:parentActivityName=".mainapp.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainapp.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".mainapp.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainapp.IntroActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".mainapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainapp.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mainapp.StarterActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.hover.ApiKey"
            android:value="75bbdd3942256a2f7a682c55bbe76ca5" />
    </application>

</manifest>